extends ../shared/layout.pug

block body
	svg.gfx.gfx-rocket-dims
		use(xlink:href="#rocket")

	include ../atoms/text
	include ../atoms/lists
	include ../atoms/inputs
	include ../atoms/checkboxes
	include ../atoms/radios
	include ../atoms/tables
	include ../atoms/links_buttons
	include ../atoms/figures
